.card-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  background-color: #616166;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
	transition: transform 0.25s ease-out;

}

.thumb-wrraper {
	height: 170px;
	overflow: hidden;
	width: 100%;
}

.card-container .thumb-wrraper img {
	height: auto;
	width: 100%;
}

.card-container:hover {
  transform: scale(1.05);
}